body {
    background: #f5f5f5;
}

.content {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
}

.content .c-title > h2 {
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 900;
    color: #333333;
    margin: 18px 0 14px 0;
}

.content .c-title > h2 > em {
    width: auto;
    height: auto;
    font-size: 12px;
    color: #ED3A4A;
    padding-left: 12px;
}

.content .c-title ul {
    width: 100%;
    height: 50px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    background: #ffffff;
}

.content .c-title ul > li {
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 900;
    color: #333333;
    text-align: center;
    float: left;
    position: relative;
    cursor: pointer;
}

.content .c-title ul > li span {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 2px;
}

.content .c-title ul .li-active {
    color: #ED3A4A;
}

.content .c-title ul .span-active {
    background: #ED3A4A;
}

.tab {
    border: 1px solid #dddddd;
    box-sizing: border-box;
    margin-top: 20px;
    overflow: hidden;
    zoom: 1;
    background: #ffffff;
}

.tab > li {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    padding: 30px;
    float: left;
}

.tab > li .account {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
}

.tab > li .account .card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    zoom: 1;
}

.tab > li .account .card .card-info {
    width: 320px;
    height: auto;
    overflow: hidden;
    zoom: 1;
    float: left;
    background: #f3f3f3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    /*  background: url(../images/personal/icon_card.png) no-repeat 100% 100%;
      background-size: 100% 100%;*/
    background: #F2F2F2;
}

.tab > li .account .card .card-info .card-info-t {
    width: auto;
    height: 92px;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
}

.tab > li .account .card .card-info .card-info-t > img {
    width: 72px;
    height: 72px;
    float: left;
}

.tab > li .account .card .card-info .card-info-t .cardNumber {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    float: left;
    margin: 20px 0 0 10px;
}

.tab > li .account .card .card-info .card-info-t .cardNumber em {
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #333333;
    float: left;
    margin-bottom: 3px;
}

.tab > li .account .card .card-info .card-info-t .cardNumber > img {
    width: 32px;
    height: auto;
    float: left;
}

.tab > li .account .card .card-info .card-info-d {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    margin-top: 14px;
}

.tab > li .account .card .card-info .card-info-d .balance {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
}

.tab > li .account .card .card-info .card-info-d .balance span {
    width: auto;
    height: auto;
    font-size: 12px;
    color: #999999;
    float: left;
    display: block;
    margin-right: 10px;
}

.tab > li .account .card .card-info .card-info-d .balance p {
    width: auto;
    height: auto;
    font-size: 18px;
    color: #333333;
    float: left;
}

.tab > li .account .card .card-info .card-info-d .balance p i {
    font-size: 12px;
    color: #333333;
    float: left;
    margin-top: 2px;
}

.tab > li .account .card .card-info .card-info-d .phoneNumber {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    margin-top: 6px;
}

.tab > li .account .card .card-info .card-info-d .phoneNumber > li {
    width: 50%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    float: left;
    font-size: 12px;
    color: #333333;
}

.tab > li .account .card .card-info .card-info-d .phoneNumber > li span {
    width: auto;
    height: auto;
    font-size: 12px;
    color: #999999;
    float: left;
    display: block;
}

.tab > li .account .card .card-info .msg {
    width: 80px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 120px;
    padding: 8px 0;
}

.tab > li .account .card .card-info .msg em {
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #FFFFFF;
    text-indent: 22px;
    float: left;
}

.tab > li .account .card .password {
    width: 100%;
    height: auto;
    overflow: hidden;
    zoom: 1;
    padding-top: 30px;
    float: left;
}

.tab > li .account .card .password .password-item {
    width: 100%;
    height: 36px;
    overflow: hidden;
    zoom: 1;
}

.tab > li .account .card .password .password-item > span {
    font-size: 12px;
    color: #999999;
    float: left;
    margin: 10px 0;
}

.tab > li .account .card .password .password-item > em {
    font-size: 12px;
    color: #333333;
    float: left;
    margin: 10px 0;
}

.tab > li .account .card .password .password-item > div {
    width: 120px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333333;
    text-align: center;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

.tab > li .account .card .password div:first-child {
    margin-bottom: 10px;
}

.tab > li .shop {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
}

.tab > li .shop > ul {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
}

.tab > li .shop > ul > li {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    margin-bottom: 16px;
}

.tab > li .shop > ul > li > span {
    width: 90px;
    height: auto;
    font-size: 12px;
    color: #999999;
    display: block;
    float: left;
}

.tab > li .shop > ul > li > em {
    width: auto;
    max-width: 800px;
    height: auto;
    text-align: center;
    font-size: 12px;
    color: #333333;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab > li .shop > ul > li > div {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    float: left;
}

.tab > li .shop > ul > li > div > img {
    width: 132px;
    height: 132px;
    margin-right: 24px;
    float: left;
}

.tab > li .shop > ul .last-chird {
    margin-bottom: 0;
}

.tab > li .address {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
}

.tab > li .address > li {
    width: 256px;
    height: 110px;
    float: left;
    background: url(../images/personal/adress_line_def.png) no-repeat 100% 100%;
    padding: 0 10px;
    margin: 0 24px 24px 0;
}

.tab > li .address > li .name {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    margin-top: 12px;
}

.tab > li .address > li .name > em {
    width: auto;
    max-width: 30%;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    font-size: 14px;
    color: #333333;
    float: left;
    margin: 2px 0 0 6px;
}

.tab > li .address > li .name > img {
    width: auto;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 2px;
}

.tab > li .address > li .detailed {
    width: auto;
    height: 36px;
    line-height: 18px;
    font-size: 12px;
    color: #666666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 6px;
}

.tab > li .address > li .operation {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    margin-top: 6px;
}

.tab > li .address > li .operation > em {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    font-size: 12px;
    color: #3da8e6;
    margin-right: 20px;
    cursor: pointer;
}

.tab > li .address > li .operation > i {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    font-size: 15px;
    color: #333333;
    margin-right: 4px;
    float: right;

}

.tab > li .address .default-active {
    background: url(../images/personal/adress_line_sel.png) no-repeat 100% 100%;
}

.tab > li .address .upload {
    width: auto;
    height: auto;
    overflow: hidden;
    zoom: 1;
    margin: 30px auto;
    cursor: pointer;
}

.tab > li .address .upload > img {
    width: auto;
    height: auto;
    margin: 0 116px;
}

.tab > li .address .upload > b {
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #999999;
    text-align: center;
    display: block;
}

.tab .no-pad {
    padding: 30px 30px 6px 30px;
}

.pictureMax {
    width: 400px;
    height: auto;
    position: fixed;
    top: 10%;
    left: 35%;
    z-index: 99;
}

.pictureMax > img {
    width: 100%;
    height: auto;
}

/*# sourceMappingURL=personal.css.map */
