.content {
  width: 100%;
  height: auto;
  overflow: hidden;
  zoom: 1;
  padding-top: 50px;
}
.content .c-title {
  border-bottom: 1px solid #DDDDDD;
  box-sizing: border-box;
  background: url(../images/Progressbar_d.png) repeat-x;
  background-origin: 100% 4px;
  background-position: 0 0;
  padding-top: 20px;
}
.content .c-title ul {
  height: 50px;
  background: #ffffff;
}
.content .c-title ul > li {
  width: 144px;
  height: 50px;
  position: relative;
  margin-right: 60px;
  float: left;
}
.content .c-title ul > li > i {
  width: 16px;
  height: 16px;
  line-height: 15px;
  background: #999999;
  color: #FFFFFF;
  font-size: 12px;
  display: block;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin: 20px 0 0 10px;
}
.content .c-title ul > li > em {
  width: auto;
  height: 14px;
  line-height: 14px;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  float: left;
  margin: 21px 0 0 10px;
}
.content .c-title ul > li span {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.content .c-title ul li:first-child {
  margin-left: 140px;
}
.content .c-title ul .i-active {
  background: #ED3A4A;
}
.content .c-title ul .em-active {
  color: #ED3A4A;
}
.content .c-title ul .span-active {
  background: #ED3A4A;
}
.tab {
  margin-top: 20px;
  overflow: hidden;
  zoom: 1;
}
.tab > li {
  width: 100%;
  height: auto;
  overflow: hidden;
  zoom: 1;
  float: left;
  display: none;
}
.tab > li .account {
  width: 600px;
  height: auto;
  overflow: hidden;
  zoom: 1;
  float: left;
  margin: 36px 30%;
}
.tab > li .account > li {
  width: 100%;
  height: 40px;
  overflow: hidden;
  zoom: 1;
  padding-bottom: 30px;
  position: relative;
}
.tab > li .account > li > span {
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  display: block;
  float: left;
}
.tab > li .account > li > input {
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  float: left;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  text-indent: 10px;
}
.tab > li .account > li > img {
  width: 100px;
  height: 40px;
  margin: 0 10px;
  float: left;
}
.tab > li .account > li > em {
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
}
.tab > li .account > li .changeOne {
  color: #ED3A4A;
}
.tab > li .account > li > p {
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  background: #ED3A4A;
  border-radius: 5px;
  margin-left: 100px;
}
.tab > li .account > li > div {
  width: auto;
  height: auto;
  overflow: hidden;
  zoom: 1;
  position: absolute;
  left: 0;
  bottom: 9px;
}
.tab > li .account > li > div > i {
  width: 12px;
  height: 12px;
  line-height: 8px;
  background: #ED3A4A;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 1px 10px 0 100px;
}
.tab > li .account > li > div > em {
  width: auto;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #ED3A4A;
  float: left;
}
.tab > li .account > li:last-child {
  margin-top: 80px;
}
.tab > li .verification {
  width: 600px;
  height: auto;
  overflow: hidden;
  zoom: 1;
  float: left;
  margin: 36px 30%;
}
.tab > li .verification > li {
  width: 100%;
  height: 40px;
  overflow: hidden;
  zoom: 1;
  padding-bottom: 30px;
  position: relative;
}
.tab > li .verification > li > span {
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  display: block;
  float: left;
}
.tab > li .verification > li > input {
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  float: left;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  text-indent: 10px;
}
.tab > li .verification > li > em {
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
}
.tab > li .verification > li > p {
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  background: #ED3A4A;
  border-radius: 5px;
  margin-left: 100px;
  cursor: pointer;
}
.tab > li .verification > li .verificationCode {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  float: left;
  background: #CACBCB;
  margin-left: 10px;
  cursor: pointer;
}
.tab > li .verification > li .msg {
  width: auto;
  height: auto;
  overflow: hidden;
  zoom: 1;
  position: absolute;
  left: 0;
  bottom: 9px;
}
.tab > li .verification > li .msg > i {
  width: 12px;
  height: 12px;
  line-height: 8px;
  background: #ED3A4A;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 1px 10px 0 100px;
}
.tab > li .verification > li .msg > em {
  width: auto;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #ED3A4A;
  float: left;
}
.tab > li .verification > li:last-child {
  margin-top: 80px;
}
.tab > li .reset {
  width: 600px;
  height: auto;
  overflow: hidden;
  zoom: 1;
  float: left;
  margin: 36px 30%;
}
.tab > li .reset > li {
  width: 100%;
  height: 40px;
  overflow: hidden;
  zoom: 1;
  padding-bottom: 30px;
  position: relative;
}
.tab > li .reset > li > span {
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666666;
  display: block;
  float: left;
}
.tab > li .reset > li > input {
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  float: left;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  text-indent: 10px;
}
.tab > li .reset > li > em {
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
}
.tab > li .reset > li > p {
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  background: #ED3A4A;
  border-radius: 5px;
  margin-left: 100px;
  cursor: pointer;
}
.tab > li .reset > li .adopt {
  width: 100%;
  color: #89ba62;
}
.tab > li .reset > li .msg {
  width: auto;
  height: auto;
  overflow: hidden;
  zoom: 1;
  position: absolute;
  left: 0;
  bottom: 9px;
}
.tab > li .reset > li .msg > i {
  width: 12px;
  height: 12px;
  line-height: 8px;
  background: #ED3A4A;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  display: block;
  float: left;
  margin: 1px 10px 0 100px;
}
.tab > li .reset > li .msg > em {
  width: auto;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  color: #ED3A4A;
  float: left;
}
.tab > li .reset > li:last-child {
  margin-top: 80px;
}
.tab > li .success {
  width: 440px;
  height: auto;
  overflow: hidden;
  zoom: 1;
  float: left;
  margin: 36px 30%;
}
.tab > li .success .success-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  zoom: 1;
}
.tab > li .success .success-item > img {
  width: 88px;
  height: 88px;
  margin: 36px 0 36px 175px;
}
.tab > li .success .success-item > em {
  width: 100%;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #666666;
  text-align: center;
  display: block;
  font-weight: 700;
}
.tab > li .success > p {
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  background: #ED3A4A;
  border-radius: 5px;
  margin-left: 100px;
  cursor: pointer;
  margin-top: 80px;
}
